.App {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.Form {
}

.Form input {
  text-align: center;
  padding: 10px 30px;
}

.List {

}

.Task {
  padding: 10px 30px;
  margin: 15px 0;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  transition: 250ms;
}

.Task:hover {
  cursor: pointer;
  background-color: rgb(226, 177, 179);
}

.Task span {
}

.Task button {
  margin-left: 5px;
}
