.App {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
}

.Form {
  display: grid;
  justify-content: center;
}


.Form input {
  text-align: center;
  padding: 10px 30px;
  font-size: 1.2em;
  border: 2px solid skyblue;
  font-family: 'Hind', sans-serif;
  font-weight: lighter;
}


.Task {
  padding: 10px 30px;
  margin: 15px 0;
  background-color: rgba(255, 255, 255, .7);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  transition: 250ms;
  color: black;
  border: 2px solid skyblue;
}

.Task:hover {
  cursor: pointer;
  background-color: rgba(234, 119, 119, 0.8);
  border: 2px solid rgb(234, 119, 119);
}

.Task span {
}

.Task button {
  margin-left: 5px;
}
